body {
    background-color: #edefee;
    font-family: Lora, serif;
    margin: 3rem 5%;
}

h1 {
    font-size: 3rem;
    font-family: 'Bigshot One', sans-serif;
    color: #095256;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin: 1rem auto 5rem;
    height: 8rem;
}

nav {
    background-color: #495D58;
    border-radius: 15px;
    max-width: 90%;
    margin: 1rem auto;
}

nav ul {
    padding: 1rem 2rem;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 0 1.5rem;
}

nav li a {
    text-decoration: none;
    color: white;
    font-family: Italiana, sans-serif;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    transition: 0.5s ease;
}

nav li a:hover {
    color: #caf7e2;
    text-shadow: 1px 1px 4px white;
}

ul:hover li a:not(:hover) {
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}

section.pasta {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    background-image: url(/images/pasta.jpg);
    margin: 2rem auto;
    border-radius: 25px;
}

.pasta h1 {
    color: white;
    margin-left: 2rem;
}

.typewriter {
    display: flex;
    justify-content: center;
}

.typewriter h1 {
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 3s steps(22) forwards, blink 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.pasta p {
    color: white;
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding-right: 6rem;

}

.pasta p:hover {
    font-size: large;
    transform: translate(0, -50px);
    transition: font-size 2s, transform 2s;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 2rem 3rem;
}

section {
    display: flex;
    max-width: 30%;
    background-color: antiquewhite;
    border-radius: 25px;
}

article {
    flex: 1;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 1rem;
}

article h2 {
    align-self: start;
    margin-left: 1.2rem;
    color: #495D58;
}

article img {
    width: 90%;
    
}

article p {
    margin: 2rem 1.2rem;
    font-family: Lora, sans-serif;
    color: #095256;
    line-height: 1.5;
}

article a {
    margin: auto 1.2rem 2rem;
    align-self: flex-start;
    justify-self: end;
}

article td {
    font-family: Lora, sans-serif;
    color: #495D58;
    font-weight: 600;
}

article .gap {
    width: 15px;
}

footer {
    margin: 1rem auto;
    display: grid;
    justify-items: center;
}

footer .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2rem;
    width: 85%;
}

.container div {
    flex: 1;
}

.container img {
    max-width: 20%;
    justify-self: start;
}

.container .border {
    border-top: 2px solid #095256;
}
.container p {
    justify-self: end;
    font-family: 'Cantana One', serif;
    color: #095256;
    font-size: medium;
    font-weight: 600;
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    header img {
        height: 5rem;
    }
    
    nav li {
        margin: 0 3rem;
    }

    .typewriter h1 {
        font-size: 1.5rem;
        white-space: wrap;
    }


    section.pasta {
        padding-bottom: 0;
    }

    .pasta p {
        font-size: 0.9rem;
    }
    
    .flex-container {
        padding: 1rem;
    }
    
    section {
        max-width: 100%;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }

    article a {
        margin-bottom: 0;
    }

    .container img {
        max-width: 50%;
    }

  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 576px) {
    header > img {
        height: 6rem;
    }

    nav li {
        margin: 0 2.5rem;
    }

    .typewriter h1 {
        font-size: 2rem;
    }

    section.pasta {
        padding-bottom: 0;
    }

    .pasta p {
        font-size: 1rem;
    }

    section {
        max-width: 100%;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }

    article a {
        margin-bottom: 0;
    }

    .container img {
        max-width: 50%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    header > img {
        height: 7rem;
    }

    nav li {
        margin: 0;
    }

    .typewriter h1 {
        font-size: 2.5rem;
    }

    .container img {
        max-width: 35%;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    section {
        max-width: 30%;
        
    }

    .flex-container {
        padding: 0;
    }

    article h2 {
        font-size: 1.5rem;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    header > img {
        height: 8rem;
    }

    .typewriter h1 {
        font-size: 3rem;
    }

    .pasta p {
        font-size: 1.2rem;
    }

    article h2 {
        font-size: 2rem;
    }

    .container img {
        max-width: 20%;
    }
  }


